body {
  margin: 0;
  padding: 0;
  /* background-color: rgb(208, 204, 208); */
  /* background-image: url('http://images.all-free-download.com/images/graphiclarge/aqua_gradient_background_6816244.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  font-family: sans-serif;
}
.homepost {
  padding-left: 15%;
}
.navbar {
  background-color: rgb(5, 102, 220);
}
.card {
  max-width: 22%;
  flex-wrap: wrap;
  border: solid black;
  /* height:100%; */
  border-collapse: collapse;
  display: inline-grid;
}
/* grid, inline-grid */

/* .img-responsive {
  min-width: 90%;
  min-height: 190px;
} */
.card-image {
  /* min-height: 150px; */
  max-height: 100%;
  max-width: 100%;
}
/* .card-footer {
  min-width: 100%;
} */
.bottomhalf {
  min-width: 100%;
  background-color: rgb(208, 204, 208);
  text-align: center;
}
.view {
  padding-top: 10%;
}

.svg_icons {
  transform: scale(1.4);
}
