body {
  margin: 0;
  padding: 0;
  /* background-color: rgb(208, 204, 208); */
  /* background-image: url('http://images.all-free-download.com/images/graphiclarge/aqua_gradient_background_6816244.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  font-family: sans-serif;
}
.homepost {
  padding-left: 15%;
}
.navbar {
  background-color: rgb(5, 102, 220);
}
.card {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: 
  /* transform 0.3s, */ box-shadow 0.3s ease-in-out;
}
.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  /* transform: scale(1.25); */
}
/* grid, inline-grid, inline-table */
.containerr {
  column-count: 4;
  column-gap: 1em;
}

.card-image {
  /* min-height: 150px; */
  max-height: 100%;
  max-width: 100%;
  position: relative;
}

.bottomhalf {
  min-width: 100%;
  background-color: rgb(208, 204, 208);
  text-align: center;
}
.overlay {
  padding-top: 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(3, 37, 108, 0.8);
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  transition: 0.3s ease;
  text-align: center;
}
.overlaytext {
  color: white;
}
.card-image:hover .overlay {
  transform: scale(1);
}
.view {
  padding-top: 2.5%;
}

.svg_icons {
  transform: scale(1.4);
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: '';
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}
.chatBox {
  width: 500px;
<<<<<<< HEAD
<<<<<<< HEAD
}
input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

